<html>
<head>
  <link rel="stylesheet" href="<%= url("/stylesheets/application.css")%>"> 
  <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet">
  <script src="https://unpkg.com/vuex@2.0.0/vue.js"></script>
</head>
<body>
  <center>
    <header>
      <h1> Every Day Calendar </h1>
    </header>
  </center>
  <main>
    <%= yield %>
  </main>
</body>
</html>

